<div class="container-fluid text-center my-2">
  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Blue%2C_Green_%26_White.jpg/2560px-Blue%2C_Green_%26_White.jpg"
              class=""
              alt="..."
              width="auto"
              height="550"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Alappuzha_Boat_Beauty_W.jpg"
              class=""
              alt="..."
              width="auto"
              height="550"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Gavi%2C_Kerala.jpg/2560px-Gavi%2C_Kerala.jpg"
              class=""
              alt="..."
              width="auto"
              height="550"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col pt-4 mt-4">
      <p class="fw-bold lh-base" style="font-size: 19.6px;">
        Kerala, a state situated on the tropical Malabar Coast of
        southwestern India, is one of the most popular tourist destinations in
        the country. Named as one of the ten paradises of the world by National
        Geographic Traveler, Kerala is famous especially for its ecotourism
        initiatives and beautiful backwaters. Its unique culture and traditions,
        coupled with its varied demography, have made Kerala one of the most
        popular tourist destinations in the world. Several international
        agencies ranging from UNESCO to National Geographic have recognised the
        state's tourism potential. Kerala was named by TIME magazine in 2022
        among the 50 extraordinary destinations to explore in its list of the
        World's Greatest Places. In 2023, Kerala was listed at the 13th spot in
        The New York Times' annual list of places to visit and was the only
        tourist destination listed from India.
      </p>
    </div>
  </div>
</div>
<h3 class="text-center text-info fw-bold py-4">Experience Kerala</h3>
<app-home-card></app-home-card>