<!-- Main Section start-->

<div class="container py-4 my-4">
    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="fullName"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="msg" class="form-label">Message</label>
            <textarea
              class="form-control"
              aria-label="With textarea"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.9921444396577!2d76.36292831483289!3d10.017506275481049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080b7fca7c6495%3A0x5c6cc61021571755!2sNEST%20Tech%20Park!5e0!3m2!1sen!2sin!4v1675778663714!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>
      </div>
    </div>
  </div>

  <!-- Main Section end-->